@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}

body {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #62a4dd 0%, #012a54 74%);
  min-height: 100vh;
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-container {
  width: 95%;
  position: relative;
  min-width: 800px;
  max-width: 800px;
  margin: auto;
  background-color: transparent;
  padding: 0px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}
.blog-slider {
  width: 95%;
  position: relative;
  min-width: 800px;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}
.blog-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}
.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.fit-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.blog-slider__content {
  padding-right: 25px;
}
.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}
/* @media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
} */
/* .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
} */
/* @media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
} */
/* .blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
} */
/* .blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fd3838;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
} */
/* @media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
} */

.d-flex {
  display: flex;
}
.arrow-right {
  opacity: 0.5;
  width: 100px;
  position: absolute;
  height: 100px;
  top: 150px;
  right: 290px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 14px 80px rgb(252 56 56 / 40%);
}
.arrow-right:hover {
  opacity: 1;
}
.right-card {
  opacity: 0.1;
  z-index: -1;
}
.arrow-left {
  opacity: 0.5;
  width: 100px;
  position: absolute;
  height: 100px;
  top: 150px;
  left: 290px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 14px 80px rgb(252 56 56 / 40%);
  transform: rotate(180deg);
}
.arrow-left:hover {
  opacity: 1;
}
